/* Colores */
$color-mediumblue   : #1c54b9;
$color-darkblue     : #072E58;
$color-blue         : #1f3f79;
$color-blue-light   : #337ab7;
$color-blue-general : #004681;
$color-black-light  : #172434;
$color-dark-black   : #000000;
$color-orange       : #ff570a;
$color-orange-light : #FF9800;
$color-gray-light   : #c0c9d9;
$color-red          : #d0011b;
$color-gray         : #55667a;
$color-gray-label   : #8e8e8e;
$color-title        : #333333;
$color-white        : #FFFFFF;
$color-body         : #F9FAFC;
$color-border-gray  : #d5dae5; /* Color de bordes del header */
$color-header-gray  : #DBA901; /* Color de fondo del header */
$color-green-loader : #30AA48;
$color-button-gray  : #F8F8F8;
//248, 248, 248
/* Fonts */
/* Tamaño de fuentes */
$fonts-28 : 28px;
$fonts-26 : 26px;
$fonts-24 : 24px;
$fonts-22 : 22px;
$fonts-20 : 20px;
$fonts-18 : 18px;
$fonts-17 : 17px;
$fonts-16 : 16px;
$fonts-15 : 15px;
$fonts-14 : 14px;
$fonts-12 : 12px;
$fonts-13 : 13px;
$fonts-10 : 10px;
$fonts-8  : 8px;
/* Tipo de fuente */
$avenir : 'Avenir-Book';
/* Urls */
$url-fonts : "/../Fonts/";
$url-img   : "/../img/";


/**/
$height-header: 130px;
$height-footer: 138px;

$height-header-small: 60px;
$height-footer-small: 69px;

$height-full: 100%;


$break-large: 991px;
$break-medium: 767px;
$break-phone: 479px;
